{% extends 'hospital/labstaff_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<!--
-->
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">LabRecords Available</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Date</th>
          <th>Test Name</th>
          <th>Status</th>
          <th>Reports</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for p in labrecords %}
      <tr>
        <td>{{p.patient.get_name}}</td>
        <td>{{p.date_created}}</td>
        <td>{{p.labtest.testname}}</td>
        <td>{{p.status}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'labstaff-update-patient-lab-reports' p.id  %}"><span class="glyphicon glyphicon-edit"></span></span></a></td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-lab-record' p.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-lab-record' p.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<!--
-->

{% endblock content %}
