{% extends 'hospital/labstaff_base.html' %}
{% load static %}
{% block content %}
{%include 'hospital/labstaff_dashboard_cards.html'%}
<br><br><br><br>
<div class="container">
    <div class="panel panel-primary" style="margin-left:15%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Recent Records</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Patient Name</th>
            <th>Date</th>
            <th>Test Name</th>
            <th>Status</th>
          </tr>
        </thead>
        {% for l in patient_labtests_records %}
        <tr>
          <td>{{l.patient.get_name}}</td>
          <td>{{l.date_created}}</td>
          <td>{{l.labtest.testname}}</td>
          <td>{{l.status}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

</div>

{% endblock content %}
